spring:
  application:
    name: SpringbootStarterTemplate

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: # org.postgresql.Driver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
  file:
    name: logs/app.log # logs should have been added into external file in prod level

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 1d
      refresh-expiration: 604800000

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false